body {
  background-color: rgb(84, 84, 123);
}
#aLabel, #bLabel, #cLabel {
  color: whitesmoke;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
}

.divBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submitButton{
  display: block;
  margin-top: 20px;
  padding: 10px 50px 10px 50px;
  font-weight: bold;
  font-family: Arial;
  background-color: rgb(152, 135, 168);
  border: solid;
  border-radius: 4px;
  color: whitesmoke;
  
}